#LABS
git config --global user.email "diogo.catossi@newcold.com"
git config --global user.name "Diogo Catossi"

REPO="chef-repo"
chef generate repo chef-repo
tree chef-repo
chef generate cookbook chef-repo/cookbooks/apache
tree chef-repo/cookbooks/apache
#edit chef-repo/cookbooks/apache/kitchen.yml
cd chef-repo/cookbooks/apache/
kitchen list
kitchen create
kitchen list
kitchen converge
kitchen verify
#update chef-repo/cookbooks/apache/test/integration/default/default_test.rb
kitchen verify
#edit chef-repo/cookbooks/apache/recipes/default.rb
kitchen converge
kitchen verify

#Lab5
cd $REPO/cookbooks
chef generate cookbook --specs apache
tree apache/spec
cd apache
chef exec rspec
#edit chef-repo/cookbooks/apache/spec/unit/recipes/default_spec.rb -> change OS to 7 , add >>it 'installs the httpd package'
chef exec rspec
#ADD do expect(chef_run).to install_package('httpd') end
chef exec rspec
#default.rb >> comment #package 'httpd'
chef exec rspec
#default.rb >> un-comment #package 'httpd'
chef exec rspec

#LAb6
chef generate attribute default
#add default['apache']['package_name'] = 'httpd'

#LAB 7
kitchen destroy
kitchen list
kitchen verify

#LAB 8
/opt/chef-workstation/embedded/bin/irb
x = "hello"
puts x 
pp x.methods
1+2 
18-5 
2*7
5/2
5/2.0
5.class
5.0.class
1+(2*3)
'jungle'
'it\'s alive'
"Animal"
"pretty"
x = "pretty"
"#{x} nice"
'#{x} nice'
1 == 1 
1 == true
1 != true
2 < 1
2 > 1 
4>= 3
4>= 4
4<= 5
4<= 3
5 <=> 5
5 <=> 6
5 <=> 4
x = ["a","b","c"]
x[0]
x.first
x.last
x + ["d"]
x = x + ["d"]
x << "e"
x.map { |i| "the letter #{i}"} #foreach
x.map!x { |i| "the letter #{i}"}
h= {
  "first_name" => "Swedish",
  "last_name" => "Chef"
}
h.keys
h["first_name"]
h["age"] = 42
h.keys
h.each { |k, v| puts "#{k}: #{v}" }
h= {
  first_name: "Swedish",
  last_name: "Chef",
  age: 42
}

x = "happy"
if x == "happy"
  puts "sure am!"
elsif x == "sad"
  puts "Boo!"
else
  puts "what are you?"
end

def who_rocks (str)
  puts " !! #{str} rocks ! !"
end

who_rocks("Meatloaf")

class Person
  attr_accessor :name, :rocks
  def who_rocks
    if @rocks
      puts " !! #{name} rocks ! !"
    end
  end
end

p = Person.new
p.name = "Diogo Bald Head"
p.rocks = true
p.who_rocks
p.rocks = false



###### LAB 9 #########
vault server -dev -dev-listen-address="0.0.0.0:8200"
#new terminal
openssl passwd -1 -salt $(openssl rand -base64 6) 1SOMESENHA
vault kv put secret/password password=''
vault kv get secret/password
kitchen login 

###### LAB 10 #########
#in ~/chef-repo/cookbooks/apache
chef generate resource vhost
chef generate template conf
kitchen test
chef exec rspec
kitchen verify
chef exec rspec

###### LAB 12 #########
chef exec rspec
kitchen test

#### LAB 14 ########
mkdir ohai
touch ohai/ohai_custom_plugin.rb
kitchen login default-centos-stream-9
/opt/chef/bin/ohai -d /opt/kitchen/ohai/cookbook_plugins/apache/ ohaicustomplugin
